@section head{
	<script src="~/Static/_references.js" type="text/javascript"></script>
}
@section top{

}

<div id="A"></div>
<div id="B"></div>
<div id="C"></div>
<div id="D"></div>
<div id="E" style="border-width"></div>

@section scripts{

	<script type="text/javascript">
		$(function ()
		{
			var BodyPostion = [
				{ id: "A", top: 0, left: 0, height: 50, width: 50, borderWidth: 1, color: "#ff0000" },
				{ id: "B", top: 0, left: 55, height: 105, width: 100, borderWidth: 1, color: "#00ff00" },
				{ id: "C", top: 55, left: 0, height: 50, width: 50, borderWidth: 1, color: "#0000ff" },
				{ id: "D", top: 110, left: 0, height: 50, width: 100, borderWidth: 1, color: "#ffff00" },
				{ id: "E", top: 110, left: 105, height: 50, width: 50, borderWidth: 1, color: "#00ffff" }
			];

			$("#body").css("background-color", "#000000");

			var MaxHeight = 0;

			for (var i = 0, len = BodyPostion.length; i < len; i++)
			{
				var d = BodyPostion[i],
					tempTop = -document.getElementById(d.id).offsetTop + d.top,
					tempLeft = -document.getElementById(d.id).offsetLeft + d.left;

				tempMaxHeight = d.top + d.height + 2 * borderWidth
				if (MaxHeight < tempMaxHeight)
					MaxHeight = tempMaxHeight;

				//alert(tempTop + ":" + tempLeft);
				$("#" + d.id).css({ position: "relative", top: tempTop, left: tempLeft, height: d.height, width: d.width, "background-color": d.color });
			}

			$("#body").css("height", MaxHeight);
		});
	</script>
}