@section head{
	<script src="~/Static/_references.js" type="text/javascript"></script>
	<style type="text/css">
		.homepage_top_btn
		{
			-webkit-border-image: none;
			-webkit-box-shadow: rgb(78, 158, 74) 0px -1px 0px 0px inset, rgb(78, 158, 74) 1px 0px 0px 0px inset, rgb(78, 158, 74) -1px 0px 0px 0px inset, rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px inset, rgba(100, 100, 100, 0.0980392) 0px 1px 0px 0px, rgba(150, 150, 150, 0.0980392) 0px 2px 0px 0px;
			-webkit-transition-delay: 0s;
			-webkit-transition-duration: 0s;
			-webkit-transition-property: all;
			-webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
			background-color: rgb(61, 178, 54);
			background-image: -webkit-linear-gradient(top, rgb(90, 203, 64), rgb(18, 141, 39));
			background-position: 0% 0%;
			background-repeat: repeat-x;
			border-bottom-color: rgba(0, 0, 0, 0.247059);
			border-bottom-left-radius: 7px;
			border-bottom-right-radius: 7px;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-left-color: rgba(0, 0, 0, 0.0980392);
			border-left-style: solid;
			border-left-width: 1px;
			border-right-color: rgba(0, 0, 0, 0.0980392);
			border-right-style: solid;
			border-right-width: 1px;
			border-top-color: rgba(0, 0, 0, 0.0980392);
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
			border-top-style: solid;
			border-top-width: 1px;
			box-shadow: rgb(78, 158, 74) 0px -1px 0px 0px inset, rgb(78, 158, 74) 1px 0px 0px 0px inset, rgb(78, 158, 74) -1px 0px 0px 0px inset, rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px inset, rgba(100, 100, 100, 0.0980392) 0px 1px 0px 0px, rgba(150, 150, 150, 0.0980392) 0px 2px 0px 0px;
			color: rgb(255, 255, 255);
			cursor: pointer;
			display: inline-block;
			font-family: 'Museo Slab', Georgia, serif;
			font-size: 24px;
			font-weight: bold;
			height: 24px;
			line-height: 24px;
			margin-bottom: 0px;
			margin-right: 10px;
			outline-color: rgb(255, 255, 255);
			outline-style: none;
			outline-width: 0px;
			padding-bottom: 24px;
			padding-left: 80px;
			padding-right: 80px;
			padding-top: 24px;
			text-align: center;
			text-decoration: none;
			text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
			vertical-align: middle;
			width: 149px;
		}

			.homepage_top_btn:hover
			{
				outline: 0;
				text-decoration: none;
				background-position: 0 -15px;
				-webkit-transition: background-position 0.1s linear;
				color: #ffffff;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
				background-color: #128d27;
			}
	</style>
}
@section top{

}

<div id="A" style="height: 630px; width: 530px; background: #FF0000 url('/Images/homepage_top.png') no-repeat center center;"></div>
<div id="B" style="height: 630px; width: 465px;">
	<h1>设计和出售定制T恤</h1>
	<h1>无需任何成本投入</h1>
	<p style="background: transparent url('/Images/homepage_checkmark.png') no-repeat left center; padding-left: 32px;">
		<span>没有前期成本，没有风险。</span>
		<span>买家在您设计的T恤的活动页面预订，所以您不需要付出任何成本。</span>
	</p>
	<p style="background: transparent url('/Images/homepage_checkmark.png') no-repeat left center; padding-left: 32px;">
		<span>高质量的T恤。</span>
		<span>买家在您设计的T恤的活动页面预订，所以您不需要付出任何成本。</span>
	</p>
	<p style="background: transparent url('/Images/homepage_checkmark.png') no-repeat left center; padding-left: 32px;">
		<span>高质量的印刷品。</span>
		<span>我们只使用零售质量丝网印刷(非数字打印)</span>
	</p>
	<a href="\Design" class="homepage_top_btn">开始设计 »</a>
</div>
<div id="C" style="height: 50px; width: 50px; background-color: #0000ff;"></div>
<div id="D" style="height: 50px; width: 100px; background-color: #ffff00;"></div>
<div id="E" style="height: 50px; width: 50px; background-color: #00ffff; border: 5px solid red; padding: 7px; margin: 20px; overflow: auto;">
	<span>aaaa</span><br />
	<span>aaaa</span><br />
	<span>aaaa</span><br />
	<span>aaaa</span><br />
	<span>aaaa</span><br />
	<span>aaaa</span><br />
	<span>aaaa</span><br />
	<span>aaaa</span><br />
</div>

@section scripts{

	<script type="text/javascript">
		$(function ()
		{
			$("#body").divLayout([
				{ id: "A", top: 0, left: 0 },
				{ id: "B", top: 0, left: 535 },
				{ id: "C", top: 690, left: 0 },
				{ id: "D", top: 745, left: 0 },
				{ id: "E", top: 800, left: 0 }
			]);
		});
	</script>
}