<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
	<!-- 定义参数 -->
	<variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
	<targets>
		<target xsi:type="File" name="AllFile" fileName="${logDirectory}/All.log"
						layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="File" name="Entities" fileName="${logDirectory}/Entities.log"
						layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="File" name="BusinessLogics" fileName="${logDirectory}/BusinessLogics.log"
						layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="File" name="MainWeb" fileName="${logDirectory}/MainWeb.log"
						layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<!-- connectionString="server=localhost;user id=root;password=p@ssw0rd;persist security info=True;database=DesignerTeaTimeLogsDB" -->
		<target xsi:type="Database" name="AllDatabase" dbProvider="MySql.Data.MySqlClient"
						connectionString="Server=localhost;Database=DesignerTeaTimeLogsDB;Uid=root;Pwd=p@ssw0rd;"
						commandText="insert into Logs(CreateDate,LogLevel,CallSite,Massage,StackTrace) values (@CreateDate,@LogLevel,@CallSite,@Massage,@StackTrace)">
			<parameter name="CreateDate" layout="${longdate}" />
			<parameter name="LogLevel" layout="${level}" />
			<parameter name="CallSite" layout="${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}" />
			<parameter name="Massage" layout="${message}" />
			<parameter name="StackTrace" layout="${stacktrace}" />
		</target>
	</targets>

	<rules>
		<logger name="*.Entities.*" minlevel="Trace" writeTo="Entities" />
		<logger name="*.BusinessLogics.*" minlevel="Trace" writeTo="BusinessLogics" />
		<logger name="*.MainWeb.*" minlevel="Trace" writeTo="MainWeb" />
		<logger name="*" minlevel="Trace" writeTo="AllFile,AllDatabase" />
	</rules>
</nlog>