<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			internalLogFile="file.txt"
			throwExceptions="true" >

	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
	<!-- 定义参数 -->
	<variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
	<targets>
		<target xsi:type="File" name="f" fileName="${logDirectory}.log"
				layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="Database" name="d" dbProvider="mssql"
						connectionString="server=localhost;user id=root;password=p@ssw0rd;persist security info=True;database=DesignerTeaTimeLogsDB"
						 commandText="insert into Logs(CreateDate,LogLevel,CallSite,Massage,StackTrace) values (@CreateDate,@LogLevel,@CallSite,@Massage,@StackTrace)"
						>
			<parameter name="@CreateDate" layout="${longdate}" />
			<parameter name="@LogLevel" layout="${level}" />
			<parameter name="@CallSite" layout="${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}" />
			<parameter name="@Massage" layout="${message}" />
			<parameter name="@StackTrace" layout="${stacktrace}" />
		</target>
	</targets>

	<rules>
		<!-- add your logging rules here -->

		<logger name="*" minlevel="Trace" writeTo="f,d" />
	</rules>
</nlog>