@section head{
	<script src="~/Static/_references.js" type="text/javascript"></script>
	<script type="text/javascript" src="@Url.Content("~/Static/tiny_mce/tiny_mce.js")"></script>
	<script type="text/javascript">
		//tinyMCE.init({
		//	mode: "textareas",
		//	theme: "advanced",
		//	plugins: "advhr,advimage,advlink,advlist,autolink,autoresize,bbcode,contextmenu,directionality,emotions,"
		//		+ "example,example_dependency,fullpage,fullscreen,iespell,inlinepopups,insertdatetime,layer,legacyoutput,lists,media,"
		//		+ "nonbreaking,noneditable,pagebreak,paste,preview,print,save,searchreplace,spellchecker,style,tabfocus,table,template,"
		//		+ "visualblocks,visualchars,wordcount,xhtmlxtras",
		//	//autosave

		//	language: "cn"
		//});

		tinyMCE.init({
			// 常用参数
			mode: "textareas",
			theme: "advanced",
			skin: "default",
			language: "cn",
			//width:"300px",
			//height:"300px",
			style_formats: [
					{ title: 'Bold text', inline: 'b' },
					{ title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
					{ title: 'Red header', block: 'h1', styles: { color: '#ff0000' } }],
			plugins: "advhr,advimage,advlink,advlist,autolink,autoresize,bbcode,contextmenu,directionality,emotions,"
					+ "fullpage,fullscreen,iespell,inlinepopups,insertdatetime,layer,legacyoutput,lists,media,"
					+ "nonbreaking,noneditable,pagebreak,paste,preview,print,save,searchreplace,spellchecker,style,tabfocus,table,template,"
					+ "visualblocks,visualchars,wordcount,xhtmlxtras",
			// 主题选项
			theme_advanced_buttons1: "styleselect,formatselect,fontselect,fontsizeselect",
			theme_advanced_buttons2: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,forecolor,backcolor,|,charmap",
			theme_advanced_buttons3: "table,|,bullist,numlist,|,link,unlink,|,cleanup,code",
			theme_advanced_buttons4: "",
			theme_advanced_toolbar_location: "top",
			theme_advanced_toolbar_align: "left",
			theme_advanced_statusbar_location: "bottom",
			theme_advanced_resizing: true,

			//主题样式
			//content_css: "css/example.css",

			// Drop lists for link/image/media/template dialogs
			template_external_list_url: "js/template_list.js",
			external_link_list_url: "js/link_list.js",
			external_image_list_url: "js/image_list.js",
			media_external_list_url: "js/media_list.js",

			// Replace values for the template plugin
			//template_replace_values: {
			//    username: "Some User",
			//    staffid: "991234"
			//}
		});
	</script>

	<style type="text/css">
		.Show div
		{
			border: 2px solid transparent;
		}


		.Show:hover div
		{
			border: 2px solid #ccc;
		}

		.ValueGroup
		{
			border: 5px solid #ccc;
			border-radius: 5px;
			padding: 5px;
			margin-bottom: 5px;
		}

			.ValueGroup input[type="text"]
			{
				font: 18px "Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
				line-height: 25px;
				height: 25px;
			}
	</style>
}
@section top{

}
<div style="float: left; width: 400px; padding: 5px; position: relative;">
	<div class="ValueGroup">
		<div id="MaterialsDiv">
		</div>
	</div>
	<div id="MaterialColorsDiv" class="ValueGroup">
	</div>
	<div id="UploadImagesDiv" class="ValueGroup" style="height: 150px;">
	</div>
	<div id="C" class="ValueGroup" style="height: 100px;">
		<div id="salesGoalSlider"></div>
		<div style="float: left; width: 170px;">
			<span>销售目标：</span><span id="salesGoal">50</span><span>件</span><br />
			<span>单件成本：</span><span id="basePrice">50.00</span><span>元/件</span><br />
			<span>单件售价：</span><input type="text" id="sellingPrice" style="width: 60px" value="60.00" onchange="ComputerAnticipatedIncome();" /><span>元/件</span>
		</div>
		<div style="float: right; width: 210px; text-align: right;" title="显示的是总收益，需要扣除支付宝的手续费用，付款1.2%手续费，打款0.5%手续费（最低1元，最高25元）。">
			<span>您的预计收益：</span><br />
			<span id="anticipatedIncome" style="font: bold 48px arial;">461.68</span><span>元</span>
		</div>
	</div>
	<div id="D" class="ValueGroup" style="height: 420px;">
		<div title="给您的活动取个好辨识的标题吧。">
			<span>活动标题：</span><input type="text" id="title" style="width: 320px;" />
			<input type="button" onclick="test();" value="test" />
		</div>
		<div style="margin-top: 5px;" title="您希望该活动的预售时长。">
			<span>活动时长：</span>
			<div id="longTime" style="display: inline-block;">
				<input type="radio" id="time3" name="longTime" value="3" /><label for="time3">3天</label>
				<input type="radio" id="time7" name="longTime" value="7" checked /><label for="time7">7天</label>
				<input type="radio" id="time14" name="longTime" value="14" /><label for="time14">14天</label>
				<input type="radio" id="time21" name="longTime" value="21" /><label for="time21">21天</label>
			</div>
		</div>
		<div style="margin-top: 5px;" title="给您的写点什么吧。它会显示到购买页面的说。">
			<span>活动说明：</span><textarea id="description" style="height: 200px;"></textarea>
		</div>
	</div>
</div>
<div id="MaterialPicturesDiv" style="float: left; width: 580px; padding: 5px; position: relative;">
	<div id="Show1" class="Show" style="background: #FF0000 url('/Images/short-sleeved_T_shirt_front.png') no-repeat center center; z-index: 1;">
		<div id="ShowImage1"></div>
	</div>
	<div id="Show2" class="Show" style="background: #FF0000 url('/Images/short-sleeved_T_shirt_back.png') no-repeat center center;">
		<div id="ShowImage2"></div>
	</div>
	<div id="ChangeShow" style="width: 530px; height: 50px; text-align: center;">
		<a href="javascript:ChangeImage('front');">正面</a> | <a href="javascript:ChangeImage('back');">反面</a>
	</div>
</div>
<div class="ui-helper-clearfix"></div>




@section scripts{
	<script type="text/javascript">
		var Data = @Html.Raw(ViewBag.Data) ;
		var CurrentMaterialID = "";
		var CurrentColorCode = "";
		$(function ()
		{
			UpdateMaterialsDiv();
			UpdateMaterialColorsANDPicturesDivANDUploadImagesDiv();

			$("#salesGoalSlider").slider({
				value: 50,
				min: 10,
				max: 500,
				step: 10,
				slide: function (event, ui)
				{
					$("#salesGoal").text(ui.value);
					ComputerAnticipatedIncome();
				}
			});

		});

		function UpdateMaterialsDiv()
		{
			var $MaterialsDiv = $("#MaterialsDiv");
			$MaterialsDiv.empty();
			for (var i = 0; i < Data.Materials.length; i++)
			{
				var tempdata = Data.Materials[i];
				var $temp = $('<input type="radio" ' + (i == 0 ? 'checked' : '') + ' id="Material_' + tempdata.GUID + '" name="Material" value="' + tempdata.GUID + '" onclick="MaterialSelected(this);" /><label for="Material_' + tempdata.GUID + '">' + tempdata.Name + '</label>');
				if (i == 0)
				{
					CurrentMaterialID = tempdata.GUID;
				}
				$MaterialsDiv.append($temp);
			}
			$MaterialsDiv.buttonset();
		}

		function MaterialSelected(self)
		{
			CurrentMaterialID = $(self).val();
			$.ajax({
				type: "GET",
				url: "/Design/MaterialInfos?MaterialID=" + CurrentMaterialID,
				dataType: "json",
				success: function (data)
				{
					Data.MaterialColors = data.MaterialColors;
					Data.MaterialPictures = data.MaterialPictures;
					UpdateMaterialColorsANDPicturesDivANDUploadImagesDiv();
				}
			});
		}

		function UpdateMaterialColorsANDPicturesDivANDUploadImagesDiv()
		{
			var $MaterialColorsDiv = $("#MaterialColorsDiv");
			$MaterialColorsDiv.empty();
			for (var i = 0; i < Data.MaterialColors.length; i++)
			{
				var tempdata = Data.MaterialColors[i];
				var $temp = $('<span style="width: 32px; height: 32px; display: inline-block; background-color: #' + tempdata.ColorCode + ';" title="' + tempdata.ColorName + '" data-ColorCode="' + tempdata.ColorCode + '" onclick="ColorSelected(this);"></span>');
				if (tempdata.IsSelected)
				{
					CurrentColorCode = tempdata.ColorCode;
					$temp.addClass("ColorSelected");
				}

				$MaterialColorsDiv.append($temp);
			}

			var $MaterialPicturesDiv = $("#MaterialPicturesDiv");
			var $UploadImagesDiv = $("#UploadImagesDiv");
			$MaterialPicturesDiv.empty();
			$UploadImagesDiv.empty();
			for (var i = 0; i < Data.MaterialPictures.length; i++)
			{
				var tempdata = Data.MaterialPictures[i];

				var $temp1 = $('<div id="Show_' + tempdata.Index + '" class="Show" style="width:' + tempdata.Width + 'px;height:' + tempdata.Height + 'px;background: transparent url(\'/Images/Materials/' + CurrentMaterialID + '/' + CurrentColorCode + '/' + tempdata.FileName + '\') no-repeat center center;" data-fileName="' + tempdata.FileName + '" >'
					+ '<div id="ShowImage_' + tempdata.Index + '" style="position: relative;width:' + tempdata.UploadWidth + 'px;height:' + tempdata.UploadHeight + 'px;left:' + tempdata.Left + 'px;top:' + tempdata.Top + 'px;"></div>'
					+ '</div>');
				$MaterialPicturesDiv.append($temp1);

				//<input type="file" id="Upload_" name="Upload_" data-Index="" />
				//<input type="hidden" id="UploadGUID_" data-Index="" />
				//<input type="hidden" id="UploadFileName_" data-Index="" />
				var $temp2 = $('<input type="file" id="Upload_' + tempdata.Index + '" name="Upload_' + tempdata.Index + '" data-Index="' + tempdata.Index + '" /><input type="hidden" id="UploadGUID_' + tempdata.Index + '" data-Index="' + tempdata.Index + '" /><input type="hidden" id="UploadFileName_' + tempdata.Index + '" data-Index="' + tempdata.Index + '" />');
				$UploadImagesDiv.append($temp2);

				(function () {
					var index = tempdata.Index;

					$("#Upload_" + index).uploadify({
					'uploader': '/Home/UploadImage',
					'buttonText': '选择图案' + tempdata.Index,
					'fileTypeDesc': '图片文件',					//文件类型描述
					'fileTypeExts': '*.jpg; *.png',				//文件类型后缀
					'onUploadSuccess': function (file, data, response)
					{
						var dataobj = JSON.parse(data);
						if (dataobj.state == 'success')
						{
							$("#UploadGUID_" + index).val(dataobj.msg);
							$("#UploadFileName_" + index).val(file.name);
							$("#ShowImage_" + index).css("background-image", "url('/Files/Temp/" + dataobj.msg + "/" + file.name + "')");
							//alert("文件名：" + file.name + "\n文件大小：" + file.size + "\nState(success或error)：" + dataobj.state + "\nmsg(GUID或错误信息)：" + dataobj.msg);
						}
					}});
				})();
			}


		}

		function ColorSelected(self)
		{
			CurrentColorCode = $(self).attr("data-ColorCode");

			var $MaterialPicturesDiv = $("#MaterialPicturesDiv");
			var $Shows = $("div[id^=Show_]", $MaterialPicturesDiv).each(function ()
			{
				var FileName = $(this).attr("data-fileName");
				$(this).css("background-image", 'url(\'/Images/Materials/' + CurrentMaterialID + '/' + CurrentColorCode + '/' + FileName + '\')');
			});
		}

		function ComputerAnticipatedIncome()
		{
			var salesGoal = parseInt($("#salesGoal").text());
			var sellingPrice = parseFloat($("#sellingPrice").val());
			var basePrice = parseFloat($("#basePrice").text());
			var anticipatedIncome = (salesGoal * (sellingPrice * 100000 * 0.988 - basePrice * 100000));
			var tax = anticipatedIncome * 0.005;
			if (tax < 1 * 100000)
				tax = 1 * 00000;
			else if (tax > 25 * 100000)
				tax = 25 * 100000;
			anticipatedIncome = (anticipatedIncome - tax) / 100000;
			$("#anticipatedIncome").text(anticipatedIncome);
		}

		//function Update

	</script>
	<script type="text/javascript">
		$(function ()
		{
			$(document).tooltip();

			$("#frontUpload").uploadify({
				'uploader': '/Home/UploadImage',
				'buttonText': '选择正面图案',
				'fileTypeDesc': '图片文件',					//文件类型描述
				'fileTypeExts': '*.jpg; *.png',				//文件类型后缀
				'onUploadSuccess': function (file, data, response)
				{
					var dataobj = JSON.parse(data);
					$("#ShowImage1").css("background-image", "url('/Files/Temp/" + dataobj.msg + "/" + file.name + "')");
					//alert("文件名：" + file.name + "\n文件大小：" + file.size + "\nState(success或error)：" + dataobj.state + "\nmsg(GUID或错误信息)：" + dataobj.msg);
				}
			});

			$("#backUpload").uploadify({
				'uploader': '/Home/UploadImage',
				'buttonText': '选择反面图案',
				'fileTypeDesc': '图片文件',					//文件类型描述
				'fileTypeExts': '*.jpg; *.png',				//文件类型后缀
				'onUploadSuccess': function (file, data, response)
				{
					var dataobj = JSON.parse(data);
					$("#ShowImage2").css("background", "transparent url('/Files/Temp/" + dataobj.msg + "/" + file.name + "') no-repeat");
					//alert("文件名：" + file.name + "\n文件大小：" + file.size + "\nState(success或error)：" + dataobj.state + "\nmsg(GUID或错误信息)：" + dataobj.msg);
				}
			});


			$("#longTime").buttonset();

			//$("#body").divLayout([
			//	{ id: "Show1", top: 0, left: 420 },
			//	{ id: "Show2", top: 0, left: 420 },
			//	{ id: "ChangeShow", top: 630, left: 420 },
			//	{ id: "A", top: 0, left: 0 },
			//	{ id: "B", top: 75, left: 0 },
			//	{ id: "C", top: 250, left: 0 },
			//	{ id: "D", top: 375, left: 0 }
			//]);
		});

		function ChangeColor(element)
		{
			$("#Show1").css("background-color", $(element).css("background-color"));
			$("#Show2").css("background-color", $(element).css("background-color"));
		}

		function ChangeImage(str)
		{
			if (str === 'front')
			{
				$("#Show1").css("z-index", 2);
				$("#Show2").css("z-index", 1);
			}
			else
			{
				$("#Show1").css("z-index", 1);
				$("#Show2").css("z-index", 2);
			}
		}

		function test()
		{
			$element = $("#cars");
			alert($element);
		}
	</script>
}